In [3]:
import pandas as pd
import datetime

In [60]:
df = pd.read_csv("attendance_data.csv")  # Replace with your file path

In [61]:
df.shape

(6336, 5)

In [62]:
df.head(3)

        date weekno employee_id             name            status
0  01-Apr-22   W 14   Atq -458@  JESSIE CARRILLO  Work From Office
1  01-Apr-22   W 14    Atq -400      chad macias  Work From Office
2  01-Apr-22   W 14    Atq -437     dallas weeks  Work From Office

In [63]:
df['date'] = pd.to_datetime(df['date'], format='%d-%b-%y')

In [64]:
df['month_name'] = df['date'].dt.strftime('%B')
df['day_type'] = df['date'].dt.strftime('%A')

In [65]:
df['day_category'] = df['date'].dt.strftime('%A').apply(lambda x: 'weekday' if x in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] else 'weekend')

In [66]:
df.head()

,date,weekno,employee_id,name,status,month_name,day_type,day_category
0,2022-04-01,W 14,Atq -458@,JESSIE CARRILLO,Work From Office,April,Friday,weekday
1,2022-04-01,W 14,Atq -400,chad macias,Work From Office,April,Friday,weekday
2,2022-04-01,W 14,Atq -437,dallas weeks,Work From Office,April,Friday,weekday
3,2022-04-01,W 14,Atq -369,GRETA HORTON,Work From Office,April,Friday,weekday
4,2022-04-01,W 14,Atq -374,KALEY FITZPATRICK,Work From Office,April,Friday,weekday

In [67]:
df['employee_id'] = df['employee_id'].str.replace('@', '')

In [68]:
df.head(2)

,date,weekno,employee_id,name,status,month_name,day_type,day_category
0,2022-04-01,W 14,Atq -458,JESSIE CARRILLO,Work From Office,April,Friday,weekday
1,2022-04-01,W 14,Atq -400,chad macias,Work From Office,April,Friday,weekday

In [69]:
df['name'] = df['name'].str.title()
df.head(2)

,date,weekno,employee_id,name,status,month_name,day_type,day_category
0,2022-04-01,W 14,Atq -458,Jessie Carrillo,Work From Office,April,Friday,weekday
1,2022-04-01,W 14,Atq -400,Chad Macias,Work From Office,April,Friday,weekday

In [70]:
print(df.columns)

Index(['date', 'weekno', 'employee_id', 'name', 'status', 'month_name',
       'day_type', 'day_category'],
      dtype='object')

In [71]:
# Create a dictionary to map status values to abbreviations
abbreviations_dict = {
    'Work From Office': 'WFO',
    'Work From Home': 'WFH',
    'Birthday Leave': 'BL',
    'Menstrual Leave': 'ML',
    'Paid Leave': 'PL',
    'Sick Leave': 'SL',
    'Weekly Off': 'WO'
}

# Apply the mapping to create the new column
df['abbreviations'] = df['status'].map(abbreviations_dict)

In [72]:
df.head(3)

,date,weekno,employee_id,name,status,month_name,day_type,day_category,abbreviations
0,2022-04-01,W 14,Atq -458,Jessie Carrillo,Work From Office,April,Friday,weekday,WFO
1,2022-04-01,W 14,Atq -400,Chad Macias,Work From Office,April,Friday,weekday,WFO
2,2022-04-01,W 14,Atq -437,Dallas Weeks,Work From Office,April,Friday,weekday,WFO

In [73]:
desired_order = ['date', 'weekno', 'month_name', 'day_type', 'day_category', 'employee_id', 'name', 'status', 'abbreviations']
df = df[desired_order]
df.head(3)

,date,weekno,month_name,day_type,day_category,employee_id,name,status,abbreviations
0,2022-04-01,W 14,April,Friday,weekday,Atq -458,Jessie Carrillo,Work From Office,WFO
1,2022-04-01,W 14,April,Friday,weekday,Atq -400,Chad Macias,Work From Office,WFO
2,2022-04-01,W 14,April,Friday,weekday,Atq -437,Dallas Weeks,Work From Office,WFO

In [74]:
total_distinct_names = df['name'].nunique()
total_distinct_names

99

In [75]:
df_may = df[df['month_name'] == 'May']

# Count occurrences of WFH status
wfh_count = df_may[df_may['status'] == 'Work From Home'].shape[0]

# Calculate total records
total_records = df_may.shape[0]

# Calculate WFH percentage
wfh_percentage = round(((wfh_count / total_records) * 100),2)
wfh_percentage

7.39

In [76]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [77]:
df_june = df[df['date'].dt.month == 6]

In [81]:
df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()
df_june

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6524\4160997203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()

,date,weekno,month_name,day_type,day_category,employee_id,name,status,abbreviations,Attendance Count
4639,2022-06-01,W 23,June,Wednesday,weekday,Atq -448,Athena Rios,Work From Office,WFO,NaN
4640,2022-06-01,W 23,June,Wednesday,weekday,Atq -472,Quincy Mendez,Work From Office,WFO,NaN
4641,2022-06-01,W 23,June,Wednesday,weekday,Atq -411,Samuel Murray,Work From Office,WFO,NaN
4642,2022-06-01,W 23,June,Wednesday,weekday,Atq -453,Nehemiah Diaz,Work From Office,WFO,NaN
4643,2022-06-01,W 23,June,Wednesday,weekday,Atq -376,Dominique Benjamin,Work From Office,WFO,NaN
...,...,...,...,...,...,...,...,...,...,...
6331,2022-06-30,W 24,June,Thursday,weekday,Atq -335,Tori Shannon,Work From Office,WFO,NaN
6332,2022-06-30,W 25,June,Thursday,weekday,Atq -437,Dallas Weeks,Work From Office,WFO,NaN
6333,2022-06-30,W 26,June,Thursday,weekday,Atq -373,Isiah Small,Weekly Off,WO,NaN
6334,2022-06-30,W 27,June,Thursday,weekday,Atq -350,Alexander Davenport,Work From Home,WFH,NaN
6335,2022-06-30,W 27,June,Thursday,weekday,Atq -405,Chris Frye,Work From Home,WFH,NaN

In [87]:
df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6524\3200977415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()

In [94]:
import pandas as pd

# Assuming your data is in a DataFrame named 'df'
# ... (load your data here)

# Convert 'date' to datetime if not already
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Filter for June data
df_june = df[df['date'].dt.month == 6]
df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()



# Calculate attendance percentage for each day (assuming 'Attendance Count' exists)
df_june['Attendance Percentage'] = (df_june['Attendance Count'] / df_june['Attendance Count'].sum()) * 100
df_june['Attendance Count'] = df_june['Attendance Count'].fillna(1)

# Group by day of the week and calculate average attendance percentage
df_grouped = df_june.groupby(df_june['date'].dt.day_name())['Attendance Percentage'].mean()

# Find the day with the highest percentage
highest_attendance_day = df_grouped.idxmax()

highest_attendance_day

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6524\2677937506.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_june['Attendance Count'] = df_june.groupby('date')['employee_id'].nunique()
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6524\2677937506.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_june['Attendance Percentage'] = (df_june['Attendance Count'] / df_june['Attendance Count'].sum()) * 100
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6524\2677937506.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_june['Attendance Count'] = df_june['Attendance Count'].fillna(1)

nan